.menu-button{
    position: relative;
    list-style: none;
    display: inline-block;
}

.menu-button__label{
    padding: 10px;
    border: 1px solid black;
}

.sub-menu{
    display: none;
    margin: 0;
    list-style: none;
    padding: 0;
}

.sub-menu__item{
    padding: 5px;
}

.sub-menu__item:hover{
    background: #f6f6f6;
}

.sub-menu__item-link{
    text-decoration: none;
    color: black;
}

.menu-button:hover .sub-menu,
.menu-button:focus .sub-menu
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 11px;
}

.menu-button:hover .menu-button__label,
.menu-button:focus .menu-button__label{
    background:#f6f6f6;
}