html,body{
    box-sizing: border-box;
    padding: 1em;
}

.basic-cta{
    position: relative;
    border: 1px solid red;
    padding: 5px;
    font-size: medium;
    background: red;
    color: white;
    border-radius: 5px;
    outline: none;
}

.basic-cta:active:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 5px;
    border: 1px solid #f00;
  }

.radiobuttons{
    display:inline-block;
    text-align: center;
}

.radiobuttons label{
    margin: 5px;
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
  background: red;
  color: black;
}

[role="switch"][aria-checked="false"] :last-child,
[role="switch"][aria-checked="true"] :first-child {
  color: black;
}

.toggle-switch{
    padding: 1em;
    display: flex;
    align-items: center;
}

 .toggle-switch button{
    display: flex;
    padding: 0;
    margin: 5px;
    background: transparent;
    border: 1px solid black;
 } 

 .toggle-switch button:focus{
     outline: none;
 }

.toggle-switch span{
    padding: 5px;
    width: 50%;
    font-size: large;
}

